@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-day-picker/dist/style.css";

@layer base {
  :root {
    --background: 40 33% 97%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 78 71% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 185 84% 38%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 43 96% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 78 71% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#fffaf0] text-foreground;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 16px;
  }
}

